docker/n8n/workflows/inventory-alerts.json
{
  "name": "mBuy - Low Stock Alert",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mbuy-inventory-webhook",
        "options": {}
      },
      "id": "inventory-webhook",
      "name": "Inventory Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.event }}",
              "operation": "contains",
              "value2": "low_stock"
            }
          ]
        }
      },
      "id": "check-low-stock",
      "name": "Is Low Stock?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.event }}",
              "operation": "contains",
              "value2": "out_of_stock"
            }
          ]
        }
      },
      "id": "check-out-of-stock",
      "name": "Is Out of Stock?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 500]
    },
    {
      "parameters": {
        "channel": "#inventory-alerts",
        "text": "тЪая╕П *╪к┘Ж╪и┘К┘З ┘Е╪о╪▓┘И┘Ж ┘Е┘Ж╪о┘Б╪╢*\n\n╪з┘Д┘Е┘Ж╪к╪м: {{ $json.data.name }}\nSKU: {{ $json.data.sku }}\n╪з┘Д┘Е╪о╪▓┘И┘Ж ╪з┘Д╪н╪з┘Д┘К: {{ $json.data.new_stock }}\n╪з┘Д╪н╪п ╪з┘Д╪г╪п┘Ж┘Й: {{ $json.data.threshold }}",
        "otherOptions": {}
      },
      "id": "slack-low-stock",
      "name": "Slack Low Stock Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [700, 300]
    },
    {
      "parameters": {
        "channel": "#inventory-alerts",
        "text": "ЁЯЪи *╪к┘Ж╪и┘К┘З ┘Ж┘Б╪з╪п ╪з┘Д┘Е╪о╪▓┘И┘Ж*\n\n╪з┘Д┘Е┘Ж╪к╪м: {{ $json.data.name }}\nSKU: {{ $json.data.sku }}\n\n*┘К╪▒╪м┘Й ╪е╪╣╪з╪п╪й ╪з┘Д╪к┘И╪▒┘К╪п ┘Б┘И╪▒╪з┘Л!*",
        "otherOptions": {}
      },
      "id": "slack-out-of-stock",
      "name": "Slack Out of Stock Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [700, 500]
    },
    {
      "parameters": {
        "toEmail": "inventory@mbuy.sa",
        "subject": "ЁЯЪи ┘Ж┘Б╪з╪п ┘Е╪о╪▓┘И┘Ж: {{ $json.data.name }}",
        "text": "╪к┘Ж╪и┘К┘З: ┘Ж┘Б╪п ┘Е╪о╪▓┘И┘Ж ╪з┘Д┘Е┘Ж╪к╪м ╪з┘Д╪к╪з┘Д┘К:\n\n╪з┘Д┘Е┘Ж╪к╪м: {{ $json.data.name }}\nSKU: {{ $json.data.sku }}\n\n┘К╪▒╪м┘Й ╪з╪к╪о╪з╪░ ╪з┘Д╪е╪м╪▒╪з╪б ╪з┘Д┘Д╪з╪▓┘Е."
      },
      "id": "email-out-of-stock",
      "name": "Email Out of Stock",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [900, 500]
    }
  ],
  "connections": {
    "Inventory Webhook": {
      "main": [
        [
          {
            "node": "Is Low Stock?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Out of Stock?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Low Stock?": {
      "main": [
        [
          {
            "node": "Slack Low Stock Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Out of Stock?": {
      "main": [
        [
          {
            "node": "Slack Out of Stock Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Out of Stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["mBuy", "inventory", "alerts"]
}
